html, body {
    margin: 0;
    padding: 0;
    background-color: #202020;
    color: #DDD;
    font-family: Arial, sans-serif;
}

.quote {
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #303030;
    padding: 2rem;
    box-sizing: border-box;
    border-radius: 1rem;
    hyphens: auto;
}

.quoteText {
    font-size: 2rem;
    text-align: center;
    font-family: Times New Roman, serif;
}

.quoteSymbol {
    font-size: 6rem;
    float: left;
    padding-right: 1rem;
}

.author {
    text-align: right;
    padding-top: 2rem;
}

@media screen and (max-width: 750px) {
    .quote {
        width: 400px;
    }
}

@media screen and (max-width: 400px) {
    .quote {
        width: 100%;
        margin: 0 1rem;
    }
}